rotten-avocados/public/favicon.ico
rotten-avocados/public/logo192.png
rotten-avocados/public/logo512.png
rotten-avocados/src/logo.svg
rotten-avocados\src\setupTests.js
rotten-avocados\src\reportWebVitals.js
rotten-avocados\src\index.css