.AboutUS {
  font-size: large;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border: 20px;
  padding: 20px 40px;
  /* background-color:rgba(129, 223, 86, 0.616);
  border-bottom: 2px ; */
}

.Who {
    /* display: ; */
}

.People {
    display: block;
}

.MPerson {
  display: flex;
  align-items: center;      
  justify-content: space-between; 
  gap: 20px;               
}

/* .MText {
  flex: 1;
} */

.MImage img {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}