.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color:rgba(129, 223, 86, 0.616);
  border-bottom: 2px ;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: bl;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 250px;
}

.topnav {
  background-color: #282834;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 200px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: green;
  color: black;
}




