.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: green;
  border-bottom: 2px;
}

.search-bar {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.logo-link {
  text-decoration: none;
}

.logo {
  font-size: 36px;
  color: #333;
  margin: 0;
}

/* Navigation bar */
.topnav-links {
 background-color: #282834;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  padding: 10px 0;
}

.topnav-links a {
  color: white;
  padding: 14px 200px;
  text-decoration: none;
  font-size: 25px;
}

.topnav-links a:hover {
  background-color: green;
}

/* General page content */
.home-welcome,
.shows-page {
  text-align: center;
  padding: 40px;
}
